/* footer container */

.footer-container {
    background-color: #111111;
}

/* footer top */

.footer-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 40px 60px 0px 60px;
    column-gap: 20px;
}

.ft-heading {
    color: #878787;
    font-size: 12px;
    margin-bottom: 12px;
}

.ft-link {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    display: block;
    line-height: 18px;
    cursor: pointer;
}

.ft-link:hover {
    text-decoration: underline;
}

.media {
    border-left: 1px solid #454d5e;
    padding-left: 32px;
}

.mailing-address {
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    align-items: center;
}

.app {
    margin-right: 16px;
}

.company p {
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}

.company a {
    text-decoration: none;
    color: #2874f0;
}

/* footer bottom */

.footer-bottom {
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-bottom-items {
    display: flex;
    align-items: center;
}

.footer-bottom-items a {
    text-decoration: none;
    margin-left: 8px;
    font-size: 12px;
    line-height: 18px;
}

.footer-bottom-items a, .copyright {
    color: #fff;
}

.copyright {
    font-size: 12px;
}